<!doctype html>
    <head>
        <title>Stratego-battleship</title>
        <meta charset="utf-8">
        <script src="{{url_for('static', filename='jquery.js')}}" type="text/javascript"></script>
        <script src="{{url_for('static', filename='socketIO.js')}}" type="text/javascript"></script>
        <script src="{{url_for('static', filename='phaser.js')}}" type="text/javascript"></script>
    </head>

    <style>
        body {
            background: darkgrey;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0;
        }

        td {
            width: 15px;
            height: 15px;
            border: 1px solid dimgrey;
        }

        .core {
            background: #b30000;
        }
        .unitMele {
            background: #e1cd34;
            background-image: url({{url_for('static', filename='images/knight.png')}});
        }

        .unitRanged {
            background: #ff9000;
            background-image: url({{url_for('static', filename='images/canon.png')}});
        }
        .playerzone {
            background-image: url({{url_for('static', filename='images/brick.png')}});
        }
        .revealed {
            filter: brightness(100%);
        }
        .unrevealed {
            filter: brightness(30%);
        }
        .warzone {
            background-image: url({{url_for('static', filename='images/grass.png')}});
        }

        td.playerzone:hover {
            filter: brightness(300%);
        }
    </style>

    <body>
        <div>
            <table>
                <tbody id="bodyTable">
                    
                </tbody>
            </table>
        </div>
        <div id="gameDiv"></div>
    </body>

    <script>
        //socket = io.connect('192.168.0.7:9000');
        //socket = io.connect('localhost:9000');
        //socket = io.connect('http://' + document.domain + ':' + location.port);
        //var socket = io.connect('localhost:9000');
        var socket = io.connect('localhost:9000');
        socket.on('serverRep', function(msg) {
            console.log(msg);
        });
        socket.on('disconnect', function() {
            console.log("/!\ CLIENT DISCONNECTED /!\ ")
        });

        socket.on('connect', function(socket) {
            console.log('connected');
            getGameConfiguration();
        });

        socket.on('msg', function(data) {
            console.log(data);
        });

        socket.on('baseMapUpdateResp', function(updateData) {
            if (isGameConfigured) {
                parseData(updateData);
            } else {
                console.log('Update received but game not configured yet')
            }
        });

        $( document ).ready(function(){
            console.log('doc ready');
        });
    </script>

    <script>

    var map_x = 10;
    var map_y = 2;
    var playerNum = 2;
    var isGameConfigured = false;
setTimeout(function(){isGameConfigured=true;}, 1000);
    var allUnits = {};

    function getGameConfiguration() {
        $.getJSON( "{{url_for('getGameConfiguration')}}", function( data ) {
            map_x = data.width;
            map_y = data.height;
            playerNum = data.playerNum;

            var game = new Phaser.Game(1792, 359, Phaser.AUTO, 'gameDiv', { preload: preload, create: create, update: update });
            
            function preload() {
                game.load.image('ground', '{{url_for("static", filename="images/map.png")}}');
                game.load.spritesheet('knight', '{{url_for("static", filename="images/mummy.png")}}', 37, 45, 18);
                game.load.spritesheet('canon', '{{url_for("static", filename="images/monster.png")}}', 39, 40, 16);
            }
            
            function create() {
                //  We're going to be using physics, so enable the Arcade Physics system
                game.physics.startSystem(Phaser.Physics.ARCADE);
            
                //  A simple background for our game
                game.add.sprite(0, 0, 'ground');

                units = game.add.group();
                units.enableBody = true;
            

            }
            
            function update() {
            }

            //var tbody = window.document.getElementById("bodyTable");
            //for(i=0; i<map_y; i++) {
            //    var tr = window.document.createElement("tr");
            //    tbody.appendChild(tr);
            //    for(j=0; j<map_x; j++) {
            //        var td = window.document.createElement("td");
            //        td.id = i+','+j;
            //        td.dataset.x = j;
            //        td.dataset.y = i;
            //        tr.appendChild(td);
            //    }
            //}
            //getMapState();
        });
    }

    function getMapState() {
        //$.getJSON( "{{url_for('getMapState')}}", function( data ) {
        //    for (var row in data) {
        //        if (!data.hasOwnProperty(row))
        //            continue;
        //        
        //        row = data[row];
        //        for (var col in row) {
        //            if (!data.hasOwnProperty(col))
        //                continue;
        //            
        //            cell = row[col];
        //            tileType = cell.tileType;

        //            setClassByCoord(cell.x, cell.y, tileType.tileColor);
        //        }
        //    }
        //    addClickListener();
        //    isGameConfigured = true;
        //});
    }




    </script>


    <script>
        function setClassByCoord(x, y, className) {
            var td = window.document.getElementById(y+','+x);
            td.className = className;
        }



    </script>

    <script>
        function addClickListener() {
            $( ".playerzone" ).click(function() {
                clickedCell = $( this );
                var Cell = new Object();
                Cell.x = clickedCell.data('x');
                Cell.y = clickedCell.data('y');
                socket.emit('cell', {data: Cell});
            });
        }

                var Cell = new Object();
                Cell.x = 5;
                Cell.y = 2;
                setTimeout(function(){socket.emit('cell', {data: Cell});}, 5000);

        function parseData(updateDataArray) {
            for (updateDataStr of updateDataArray) {
                var updateData = jQuery.parseJSON( updateDataStr );
                var action = updateData.action;
                var name = updateData.name;
                //var unitType = updateData.unitType;
                var unitType = name;
                var id_num = updateData.id_num;
                
                if (action == 'placing') {
                    var x = updateData.x;
                    var y = updateData.y;
                    console.log(name+id_num+' '+x+', '+y);
                    createUnit(unitType, id_num, x, y);
                } else if (action == 'moving') {
                    var startX = updateData.startX;
                    var startY = updateData.startY;
                    var deltaX = updateData.deltaX;
                    var deltaY = updateData.deltaY;
                    var endX = startX + deltaX;
                    var endY = startY + deltaY;
                    console.log(name+id_num+' '+startX+'->'+endX+', '+startY+'->'+endY);
                    moveUnit(unitType, id_num, startX, startY, deltaX, deltaY);
                }

                //var tileType = updateData.tileType;
                //setClassByCoord(updateData.x, updateData.y, tileType.tileColor);
            }
        }

        function createUnit(unitType, unitId, posX, posY) {
            var newUnit = units.create(posX, posY, unitType);
            newUnit.animations.add('walk');
            newUnit.animations.play('walk', 10, true);
            allUnits.unitId =  newUnit;
        }

        function moveUnit(unitType, unitId, posX, posY, deltaX, deltaY) {
            var unitToMove = allUnits.unitId;
            unitToMove.x = posX;
            unitToMove.y = posY;
            unitToMove.x += deltaX;
            unitToMove.y += deltaY;
        }
    </script>

</html>
