<!doctype html>
    <head>
        <title>Stratego-battleship</title>
        <meta charset="utf-8">
        <script src="{{url_for('static', filename='jquery.js')}}" type="text/javascript"></script>
        <script src="{{url_for('static', filename='socketIO.js')}}" type="text/javascript"></script>
        <script src="{{url_for('static', filename='phaser.js')}}" type="text/javascript"></script>
    </head>

    <style>
        body {
            background: darkgrey;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0;
        }

        td {
            width: 15px;
            height: 15px;
            border: 1px solid dimgrey;
        }

        .core {
            background: #b30000;
        }
        .unitMele {
            background: #e1cd34;
            background-image: url({{url_for('static', filename='images/knight.png')}});
        }

        .unitRanged {
            background: #ff9000;
            background-image: url({{url_for('static', filename='images/canon.png')}});
        }
        .playerzone {
            background-image: url({{url_for('static', filename='images/brick.png')}});
        }
        .revealed {
            filter: brightness(100%);
        }
        .unrevealed {
            filter: brightness(30%);
        }
        .warzone {
            background-image: url({{url_for('static', filename='images/grass.png')}});
        }

        td.playerzone:hover {
            filter: brightness(300%);
        }
    </style>

    <body>
        <div>
            <table>
                <tbody id="bodyTable">
                    
                </tbody>
            </table>
        </div>
        <div id="gameDiv"></div>
    </body>

    <script>
        $( document ).ready(function(){
            console.log('doc ready');

            //socket = io.connect('192.168.0.7:9000');
            //socket = io.connect('localhost:9000');
            //socket = io.connect('http://' + document.domain + ':' + location.port);
            //var socket = io.connect('localhost:9000');
            socket = io.connect();
            socket.on('serverRep', function(msg) {
                console.log(msg);
            });
            socket.on('disconnect', function() {
                console.log("/!\ CLIENT DISCONNECTED /!\ ")
            });
    
            socket.on('connect', function(socket) {
                console.log('connected');
                getGameConfiguration();
            });
    
            socket.on('baseMapUpdateResp', function(updateData) {
                if (isGameConfigured) {
                    parseData(updateData);
                } else {
                    console.log('Update received but game not configured yet')
                }
            });


        });
    </script>

    <script>

    var game;
    var map;
    var layer;
    var marker;
    var cursor;
    var currentDataString;
    var map_x = 10;
    var map_y = 2;
    var map_squareSize = 32;
    var unitConfig = {
        knight: { size: {x:37, y:45}, speed: 1.0*32.0}, 
        canon: { size: {x:39, y:40}, speed: 0.7*32.0}, 
    }
    var playerNumber = 2;
    var playerID;
    var isGameConfigured = false;
    var allUnits = new Object();
    var allStructs = new Object();
    var units;
    var structs;

    function getGameConfiguration() {
        $.getJSON( "{{url_for('getGameConfiguration')}}", function( data ) {
            map_x = data.width * data.squareSize;
            map_y = data.height * data.squareSize;
            map_squareSize = data.squareSize;
            playerNumber = data.playerNumber;
            playerID = data.playerID;

            game = new Phaser.Game(map_x, map_y, Phaser.AUTO, 'gameDiv', { preload: preload, create: create, update: update, render: render });
            
            function preload() {
                //game.load.image('ground', '{{url_for("static", filename="images/map.png")}}');
                game.load.spritesheet('knight', '{{url_for("static", filename="images/mummy.png")}}', 37, 45, 18);
                game.load.spritesheet('canon', '{{url_for("static", filename="images/monster.png")}}', 39, 40, 16);
                game.load.atlasJSONHash('cores', '{{url_for("static", filename="images/cores.png")}}', '{{url_for("static", filename="images/cores.json")}}');

                game.load.tilemap('tilemap', '{{url_for("static", filename="images/levelCSV.json")}}', null, Phaser.Tilemap.TILED_JSON);
                game.load.image('tiles', '{{url_for("static", filename="images/gridtiles.png")}}');
            }
            
            function create() {
                //  We're going to be using physics, so enable the Arcade Physics system
                game.physics.startSystem(Phaser.Physics.ARCADE);
                game.stage.backgroundColor = "#a9f0ff";
                map = game.add.tilemap('tilemap');
                map.addTilesetImage('gridtiles', 'tiles');
                backgroundLayer = map.createLayer('BackgroundLayer');
                layer = map.createLayer('GroundLayer');
                layer.resizeWorld();

                //  Our painting marker
                marker = game.add.graphics();
                marker.lineStyle(2, 0xffffff, 1);
                marker.drawRect(0, 0, map_squareSize, map_squareSize);
            
                game.input.addMoveCallback(updateMarker, this);
                game.input.onDown.add(onMapClick, this);
                cursors = game.input.keyboard.createCursorKeys();

                //  Unit group
                units = game.add.group();
                units.enableBody = true;
                units.setAll('anchor.x', 0.5);
                units.setAll('anchor.y', 0.5);

                // Struct group
                structs = game.add.group();
                structs.enableBody = true;
                //structs.setAll('anchor.x', 0.5);
                //structs.setAll('anchor.y', 0.5);

                // tell server game is ready
                socket.emit('gameReady', {ready: true});
                isGameConfigured = true;

            }
            
            function update() {
            }

            function render() {
            }


        });
    }
    </script>


    <script>

        function onMapClick(){
            var x = layer.getTileX(game.input.activePointer.worldX);
            var y = layer.getTileY(game.input.activePointer.worldY);
            var tile = map.getTile(x, y, layer);

            var Cell = new Object();
            Cell.x = x;
            Cell.y = y;
            socket.emit('cell', {data: Cell});
        }

        function updateMarker() {
            marker.x = layer.getTileX(game.input.activePointer.worldX) * map_squareSize;
            marker.y = layer.getTileY(game.input.activePointer.worldY) * map_squareSize;
        }

        function parseData(updateDataArray) {
            var updateData = jQuery.parseJSON( updateDataArray );
            for (update of updateData) {
                var action = update.action;
                var name = update.name;
                var unitType = name;
                var id_num = update.id_num;
                var x = update.coordXY[0];
                var y = update.coordXY[1];
                
                if (action == 'placing') {
                    if (unitType == 'core') {
                        createStructure(unitType+'s', id_num, x, y, Object.keys(allStructs).length);
                    } else {
                        createUnit(unitType, id_num, x, y);
                    }
                } else if (action == 'moving') {
                    moveUnit(unitType, id_num, x, y);
                } else if (action == 'kill') {
                    killUnit(unitType, id_num)
                }

            }
        }

        function createStructure(structType, structId, posX, posY, player) {
            var color;
            if (player == 0) {
                color = 'redCore/';
            } else {
                color = 'blueCore/';
            }
            var newStruct = structs.create(posX*map_squareSize, posY*map_squareSize, 'cores', color+'0001.png');
            newStruct.width = 32*2;
            newStruct.height = 32*2;
            newStruct.animations.add('powerOn', Phaser.Animation.generateFrameNames(color, 1, 2, '.png', 4), 3, true, false);
            newStruct.animations.play('powerOn');
            if (!(structType in allStructs)) {
                allStructs[structType] = new Object();
            }
            allStructs[structType][structId] = newStruct;
        }

        function createUnit(unitType, unitId, posX, posY) {
            var newUnit = units.create(posX*map_squareSize, posY*map_squareSize, unitType);
            newUnit.width = 16;
            newUnit.height = 32;
            newUnit.animations.add('walk');
            newUnit.animations.play('walk', 10, true);
            if (!(unitType in allUnits)) {
                allUnits[unitType] = new Object();
            }
            allUnits[unitType][unitId] = newUnit;
        }

        function moveUnit(unitType, unitId, endX, endY) {
            var speed = unitConfig[unitType].speed;
            var unitToMove = allUnits[unitType][unitId];
            var tween = game.add.tween(unitToMove);
            if (Math.abs(unitToMove.x - endX*map_squareSize) > map_squareSize*2 || Math.abs(unitToMove.y - endY*map_squareSize) > map_squareSize*2) {
                tween.to({ x: endX*map_squareSize, y: endY*map_squareSize }, 1000, 'Linear', true, 0);
                console.log(unitType+unitId+' to slow. ' + endX*map_squareSize + ', ' + unitToMove.x);
            } else {
                unitToMove.body.velocity.x = speed;
                //tween.to({ x: endX*map_squareSize, y: endY*map_squareSize }, 1000, 'Linear', true, 0);
                //game.physics.arcade.moveToXY(unitToMove, endX*map_squareSize, endY*map_squareSize, speed);
                //unitToMove.x = endX*map_squareSize;
            }
        }

        function killUnit(unitType, id_num) {
            var unitToKill = allUnits[unitType][id_num];
            console.log('killed '+unitType+id_num);
            unitToKill.kill();
        }

    </script>

</html>
